<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Gabriel, a recent Economics graduate from the University of Texas at Austin. Alongside my degree, I earned certificates in Programming & Computation and Computational Science & Engineering. Recently, I co-authored a paper titled Efficient Approximations to Polynomial Smoothness Indicators with Dr. Arbogast. I also was lucky enough to do a web design internship with College Houses working to improve the user experience.</p>
      </div>
      <div class="col-lg-4">
        <p>In my free time, I enjoy playing classic video games, practicing guitar, and reading pop science books. My favorite TV shows are a tie between Firefly and Star Trek: The Next Generation. I'm also an avid tabletop gamer. I’ve been playing Dungeons & Dragons since I was thirteen. Whether it's exploring code, excel sheets, or imaginary worlds, I’m always up for a creative challenge. </p>
      </div>
    </div>
  </div>
</section>
